<ion-view title="Login" hide-nav-bar="true" id="page7">
  <ion-content padding="true" style="background: url(img/bT7P420ETX2H9Dsa33Sm_fondo.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/xZ4nQvLCQNmPzZjkaO0O_logo-splash.png" style="display: block; width: 65%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form2" class="list">
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <label class="item item-input" id="login-input4" name="usuario">
        <input type="text" placeholder="Usuario">
      </label>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <label class="item item-input" id="login-input5" name="contrasena">
        <input type="password" placeholder="Contraseña">
      </label>
      <div class="spacer" style="width: 300px; height: 16px;"></div>
      <button id="login-button3" style="color:#027EC6;border-radius:10px 10px 10px 10px;" class="button button-stable  button-block">Ingresar</button>
      <div id="login-button-bar1" class="button-bar">
        <button id="login-button8" style="font-weight:300;color:#FFFFFF;border-radius:10px 10px 10px 10px;" class="button button-light  button-block button-outline brn_deg">Nuevo usuario</button>
        <button id="login-button9" style="font-weight:300;color:#FFFFFF;border-radius:10px 10px 10px 10px;" class="button button-light  button-block button-outline">¿Olvidaste tu contraseña?</button>
      </div>
    </form>
  </ion-content>
</ion-view>