<ion-view title="Signup" hide-nav-bar="true" id="page8">
  <ion-content padding="true" style="background: url(img/MzC4faYeQr2AnaRD3qbY_fondo.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="signup-form3" class="list">
      <div>
        <img src="img/icS1vnRSEyMEpNckeqeL_logo-interior.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h1 id="signup-heading2" style="color:#FFFFFF;text-align:center;">Ingresa tus datos</h1>
      <label class="item item-input" id="signup-input6" name="reg_nombre">
        <input type="text" placeholder="Nombre">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="signup-input9" name="reg_apellido">
        <input type="text" placeholder="Apellido">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="signup-input10" name="reg_ci">
        <input type="text" placeholder="Cédula">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="signup-input11" name="reg_ci">
        <input type="email" placeholder="E-mail">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="signup-input7" name="reg_user">
        <input type="text" placeholder="Usuario">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="signup-input8" name="reg_pass">
        <input type="password" placeholder="Contraseña">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="signup-input12" name="reg_pass2">
        <input type="password" placeholder="Repetir contraseña">
      </label>
      <div id="signup-button-bar2" class="button-bar">
        <button id="signup-button15" style="border-radius:10px 10px 10px 10px;" class="button button-positive  button-block icon-left ion-android-arrow-dropleft">Atrás</button>
        <button id="signup-button16" style="color:#027EC6;border-radius:10px 10px 10px 10px;" class="button button-light  button-block icon-right ion-android-arrow-dropright">Siguiente</button>
      </div>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
    </form>
  </ion-content>
</ion-view>