<ion-view title="Splash" hide-nav-bar="true" id="page6">
  <ion-content padding="false" style="background: url(img/BbRGsZTcTlqqHe7f9xPK_fondo.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="width: 320px; height: 53px;"></div>
    <div class="logo">
      <img src="img/4PFTZ1UHRDGG8cRHeWin_logo-splash.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="splash-heading1" style="color:#FFFFFF;text-align:center;" class="name_app">BdP</h2>
  </ion-content>
</ion-view>